<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Crypto Currency Web App - Easy Tutorial</title>
    <link rel="stylesheet" href="/public/styles/style.css">
    
    
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li class="logo"><img src="/public/assets/diamond.png"></li>
                <li class="active">Home</li>
                <li>Services</li>
                <li>Products</li>
                <li>Contact</li>
                <li><a href="#" class="signup-btn"><span>Sign Up</span></a></li>
            </ul>
        </div>

        <div class="banner">
            <div class="app-text">
                <h1>
                    Our besic thesis for bitcoin <br> is that it is better than gold.
                </h1>
                <p>
                   Contrary to popular belief, Lorem Ipsum is not simply radom <br> text.
                   It has roots in a piece of classical Latin Literature from 45 BC,
                   <br> making it over 2000 years old
                </p>
                <div class="play-btn">
                    <div class="play-btn-inner">
                        <i class="bi bi-play-circle"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                              </svg>
                        </i>
                    </div>
                    <small><strong>LEARN MORE</strong></small>
                </div>
            </div>
            <div class="app-picture">
                <img src="/public/assets/analyse.png" alt="">
            </div>
        </div>
   
</div>
</body>
</html>